
html, body { height: 100% }

:host {
  font-family: 'Roboto', 'Noto', sans-serif;
  @apply(--layout-fit);
  @apply(--layout);
  @apply(--layout-vertical);
  overflow: hidden;
  background: var(--paper-grey-50);
}

p {
  max-width: 20em;
}

paper-header-panel {
  @apply(--layout-flex);
  background: var(--paper-grey-50);
}

paper-drawer-panel /deep/ #drawer #mainContainer {
    background-color: #eee;
}

paper-drawer-panel /deep/ #main #mainContainer {
    background-color: #fff;
    overflow: visible;
    min-height: 100%;
}

#github /deep/ iron-icon {
    height: 60px;
    width: 60px;
    padding: 1px;
    margin: 1px;
}

paper-toolbar {
  --paper-toolbar-background: var(--paper-grey-50);
  --paper-toolbar-color: var(--paper-grey-800);
  flex-shrink: 0;
}

paper-tabs {
    --paper-tabs-selection-bar-color: green;
}

#github {
    float: right;
    position: relative;
    top: -8px;
}

#title {
    position: relative;
    top: 16px;
}

.element-item {
    padding: 10px;
    padding-left: 20px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    -webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
}

.element-item.iron-selected {
    font-weight: bold;
    font-size: 20px;
}

.element-item:last-child {
    border-bottom: none;
    font-size: 16px;
}

:host > paper-header-panel {
  opacity: 0;
  transition: opacity 0.5s;
}

:host(.loaded) > paper-header-panel {
  opacity: 1.0;
}

#content {
  display: block;
  background: var(--paper-grey-50);
}

#docs-sidebar {
    float: left;
    overflow-y: scroll;
}

paper-toolbar a {
  margin: 0 10px;
  cursor: pointer;
}

paper-toolbar a:last-child {
  margin-right: 0;
}

paper-toolbar a, paper-toolbar a iron-icon {
  font-weight: normal;
  color: var(--paper-grey-500);
}

paper-toolbar iron-icon {
  margin: -2px 5px 0 0;
}

paper-toolbar a:hover, paper-toolbar a:hover iron-icon, paper-toolbar a.iron-selected, paper-toolbar a.iron-selected iron-icon {
  color: var(--paper-grey-800);
}

#demo {
  @apply(--layout-fit);
}

#nodocs {
  background: var(--paper-grey-50);
  font-size: 24px;
  font-weight: 400;
  color: var(--paper-grey-400);
}

#demo, #docs {
  border: 0;
  background: transparent;
  width: auto;
  max-width: initial !important;
  height: 82%;
  overflow-x: none;
  overflow-y: auto;
  position: absolute !important;
  top: 50px !important;
  left: 0px !important;
  right: 0;
}

@media (min-width: 1024px) {
    #docs {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20%;
        padding-left: 20%;
        margin: 0 auto;
    }
}

@media (max-width: 1023px) {
    #docs {
        padding: 20px;
        max-width: 48em;
        margin: 0 auto;
    }
}

#view > * {
  display: none;
}

#view > .iron-selected {
  display: block;
}

#active {
  font-size: 20px;
  font-family: Roboto, Noto;
  border: 0;
  background: transparent;
}

paper-toolbar a {
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

#cart-icon {
  margin-left: 10px;
  cursor: pointer;
}

#catalog-heading {
  margin: 4px 0 18px;
}

#catalog-heading h2 {
  color: var(--paper-grey-800);
  @apply(--paper-font-title);
  margin: 0;
}

#catalog-heading .version {
  color: var(--paper-grey-500);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
#catalog-heading .version:before {
  content: "(";
}
#catalog-heading .version:after {
  content: ")";
}

[catalog-only] {
  display: none;
}

:host([_catalog]) [catalog-only] {
  display: block;
}
:host([_catalog]) [catalog-hidden] {
  display: none;
}


article.accordion
{
	display: block;
	width: auto;
	padding: 0.5em 0.5em 1px 0.5em;
	margin: 0 auto;
	/* background-color: #666;
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.3); */
}

article.accordion section
{
	display: block;
	width: auto;
	height: 3em;
	padding: 0;
	margin: 0 0 0.5em 0;
	color: #333;
	background-color: inherit;
	overflow: hidden;
	border-radius: 3px;
}

article.accordion section header
{
	font-size: 1em;
	font-weight: bold;
	width: 100%;
	line-height: 2em;
	padding: 0;
	margin: 0;
	color: #ddd;
    padding: 14px 10px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #212121;
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

article.accordion section header a
{
	display: block;
	width: 100%;
	line-height: 2em;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}

article.accordion section,
article.accordion section header
{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

article.accordion section:target
{
	height: 15em;
	background-color: #fff;
}

article.accordion section:target header
{
	font-size: 1.6em;
	color: #333;
}

article.accordion section.open {
    height: auto;
}