<!doctype html>
<html>
    <head>
        <title>highcharts-elements</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../webcomponentsjs/webcomponents-lite.js"></script>
        <link rel="import" href="../lp-component-page/lp-component-page.html">
    </head>
<body>
    
    <!-- Note: if the main element for this repository doesn't
         match the folder name, add a src="&lt;main-component&gt;.html" attribute,
         where &lt;main-component&gt;.html" is a file that imports all of the
         components you want documented. -->

    <lp-component-page 
        title="highcharts-elements docs"
        github-link="https://github.com/linchpinio/highcharts-elements"
        src="http://linchpinio.github.io/highcharts-elements/components/highcharts-elements/highcharts-elements.html">
    </lp-component-page>

</body>
</html>